div.socials{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

div.github {
    width: 20rem;
    height: 30rem;
    box-shadow: 0 0.5rem 2rem 0 rgb(148, 148, 148);
    margin-top: 2rem;
    border-radius: 2rem;

}