div.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}



.profile {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 2rem 0 rgb(148, 148, 148);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-top: 2rem;
}

.myprofile {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;

}

div.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

p.myself > span{
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 16pt;
}

.myself {
    padding: 10px;
    width: 10rem;
    margin-top: 2rem;
    text-align: center;
}

div.familiar-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

div.familiar-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin-top: 1rem;
}

div.familiar-col > img{
    width: 4rem;
}

div.familiar-row > img{
    width: 3.5rem;
    padding: 15px;
}

a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

div.intro > div { 
    width: 80%;
    margin: 10px;
    text-align: center;
    font-weight: 900;
}