.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.introduction{
    background-color: rgb(253, 239, 214);
    height: auto;
    width: 30rem;
    box-shadow: 0 0.5rem 2rem 0 rgb(148, 148, 148);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    line-height: 2rem;
}

p.question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img.Codechef, img.gfg {
    width: 10rem;
    padding: 0.5rem;
}