body{
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header{
    background-color: rgb(255, 255, 255);
    height: 3rem;
    width: 100%;
    position: fixed;
    /* box-shadow: 0 -1rem 2rem 1px rgb(58, 58, 58); */
}
div.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section.hero{
    height: auto;
    flex-basis: 20rem;
    margin-top: 3rem;
}

section.main{
    height: 20rem;
    flex-basis: 40rem;
    margin-top: 3rem;

}

section.handels{
    height: 20rem;
    flex-basis: 20rem;
    margin-top: 3rem;

}